html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
} */

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: Montserrat;
  line-height: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;

  /* font-family: 'Jost'; */
  /* font-size: 22px; */
}

/** / футер прикріплений до низу сайту  body {display: flex;flex-direction: column;height: 100vh;min-height: 100vh;} */
main {
  flex: 1 0 auto;
}

/** /контейнер для центрування контенту, розміри згідно макету/ */
/* .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
} */

/** // візуально приховати елементи */
/* .visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
border: 0;
clip: rect(0 0 0 0);
} */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 320px;
  max-width: 1440px;
}

/*  ====================== header ========================== */
/*  ====================== burger-menu ========================== */

label {
  display: block;
  height: 30px;
  position: relative;
  top: 15px;
}

label span,
label span::before,
label span::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background: #333;
  position: absolute;
  right: 0;
  transition: 0.3s;
}

label span::before {
  top: -8px;
}

label span::after {
  top: 8px;
}

/* .nav_menu {
  display: none;
} */

.header {
  /* height: 540px; */
  max-width: 1600px;
  width: 100vw;
  margin: 0 auto;
  background-image: url(img/mobile/mobile-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 63px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(img/mobile/mobile-header@2x.jpg);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
}

.header_menu {
  margin-top: 19px;
  /* margin-bottom: 112px; */
  text-align: center;
}

.menu_text {
  font-size: 14px;
  color: #fff;
  /* width: 92px;
  height: 40px; */
  border: 2px solid transparent;
  border-radius: 17px;
  padding: 7px 17px;
}

/* .menu_text:hover, */
.menu_text:focus {
  background: rgba(26, 25, 21, 0.0001);
  border: 2px solid #fff;
}

.burger-menu {
  /* display: inline-block; */
  margin: 0 auto;
  /* text-align: center; */
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  color: #fff;
  display: block;
  text-align: center;
  margin-bottom: 22px;
}

.header_title {
  line-height: 37px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
}

.title {
  line-height: normal;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 12px;
  width: 307px;
  text-align: center;
}

.little_title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 17px;
}

.button {
  background-color: #ff4e50;
  border: 0px;
  padding: 13px 38px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  margin-top: 17px;
  margin-bottom: 136px;
  color: #fff;
  text-align: center;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url(img/tablet/tablet-header.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(img/tablet/tablet-header@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background-image: url(img/desktop/desk-header.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-width: 1200px) and (min-resolution: 192dpi),
  (min-width: 1200px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(img/desktop/desk-header@2x.jpg);
  }
}

/* ====================== main ========================== */

.text {
  width: 290px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 22px;
  font-weight: 700;
}

.partner-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.partner-item {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  /* height: 210px; */
}

.partner-item > p {
  color: #666;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

.partner-item:nth-child(1) .bg-svg {
  background-color: #ff4e50;
}

.partner-item:nth-child(2) .bg-svg {
  background-color: #ffa507;
}

.partner-item:nth-child(3) .bg-svg {
  background-color: #1cd7ad;
}

.partner-item:nth-child(4) .bg-svg {
  background-color: #4e73db;
}

.partner-item-img {
  position: relative;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  margin-bottom: 13px;
}

.bg-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 7px 8px 8px 8px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.name-text {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 13px;
}

.other_button {
  background-color: transparent;
  border: 2px solid #ff4e50;
  min-height: 43px;
  min-width: 228px;
  border-radius: 30px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  color: #ff4e50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 37px;
  margin-bottom: 72px;
}

/* ====================== footer ==========================  */

@media screen and (min-width: 768px) {
  .container {
    width: 570px;
  }

  .logo {
    font-size: 20px;
  }

  .burger-menu {
    display: none;
  }

  .title {
    font-size: 52px;
    width: 507px;
  }

  .little_title {
    font-size: 24px;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: baseline;
    /* width: 768px; */
    margin: 0 auto;
  }

  .text {
    width: 440px;
  }

  .partner-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 55px;
  }

  .partner-item {
    flex-basis: calc((100% - 53px * 2) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 920px;
  }

  .partner-list {
    flex-wrap: nowrap;
    gap: 35px;
  }

  .partner-item {
    /* flex-basis: calc((100% - 35px * 3) / 4); */
  }
}
